<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Business Consulting</title>
  <link rel="stylesheet" th:href="@{/css/header.css}">
</head>

<body>
  <header th:fragment="header">
    <div class="header-container">
      <a href="/" class="logo">
          <div class="logo-icon"><i class="ri-user-3-line"></i></div>
          <span class="logo-text">ESC</span>
      </a>
      <nav class="nav" id="nav">
          <div th:if="${session.loginUser == null}">
              <ul>
                  <li><a href="login">로그인</a></li>
              </ul>
          </div>
          <div th:if="${session.loginUser != null}">
              <ul>
                  <li><a href="logout">로그아웃</a></li>
              </ul>
          </div>
      </nav>
  </div>
  </nav>
  </header>
  <div></div>
</body>
</html>