<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Consulting</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>

<body>
    <!-- /WEB-INF/views/fragment/header.html -->
    <div th:fragment="header">
        <header class="main-header">
            <div class="page-wrapper">
                <div class="container">
                    <a href="/" class="logo">
                        <img th:src="@{/img/right.png}" alt="팀 ESC 로고" />
                        <span>권리 헬퍼</span>
                    </a>
                    <nav class="nav-menu">
                        <ul class="menu-list">
                            <li th:if="${session.loginUser == null}">
                                <a href="login">로그인</a>
                            </li>
                            <li th:if="${session.loginUser != null}" th:text="${session.loginUser.nick} + '님 환영합니다!'">
                            </li>
                            <li th:if="${session.loginUser != null}"><span class="separator">ㅣ</span></li>
                            <li th:if="${session.loginUser != null}">
                                <a href="logout">로그아웃</a>
                            </li>
                        </ul>
                    </nav>
                    <button class="menu-toggle">
                        <i class="ri-menu-line"></i>
                    </button>
                </div>
            </div>
        </header>
    </div>

</body>

</html>