<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AI 권리보장 매니저</title>
  <link rel="icon" href="data:,">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/chat.css}">
</head>


<body>
  <div>
    <header th:replace="~{fragment/header :: header}">
      <!-- <div class="logo">AI 권리보장 매니저</div>
      <button class="login-btn">로그인</button>
      <button id="history-btn" class="login-btn">대화 기록 보기</button> -->
    </header>
  </div>
  <main>
    <div class="chat-wrapper">
      <section class="chat-section">
        <div class="chat-header">고용 노동 상담
          <div th:if="${session.thread_id == null}">
            <div th:text="${thread == null ? '쓰레드 없음' : thread.name}"></div>
          </div>
          <div th:if="${session.thread_id != null}">
            <div class="thread_id" th:text="${session.thread_id}"></div>
          </div>
        </div>
        <div class="chat-messages">
          <div class="message bot">
            <div class="avatar">🤖</div>
            <div class="name">챗봇</div>
            <div class="bubble">저는 고용 관련 문제를 전문적으로 상담하고 법적 조언을 제공하는 노무사입니다.<br>
              여러분의 근로 상황과 문제를 이해하고, 해결 방안을 함께 모색합니다.<br>
              고용 관련 질문이나 문제가 있으시다면 말씀해 주시면 도움이 되겠습니다.</div>
          </div>
        </div>
        <div class="chat-input">
          <input id="user-input" type="text" placeholder="메시지를 입력하세요..." />
          <button id="send-btn">전송</button>
        </div>
      </section>
      <aside>
        <div class="panel" id="my-case-panel">
          <strong>내 사례</strong>
          <div class="case-item">
            <strong>유급휴가 문의</strong><small>2일 전</small>
            연차휴가 계산에 대한 질문...
            <br><a href="#">계속하다 →</a>
          </div>
          <div class="case-item">
            <strong>초과 근무 보상</strong><small>1주일 전</small>
            초과근무 수당 권리에 대해 논의하고 싶습니다...
            <br><a href="#">계속하다 →</a>
          </div>
        </div>
        <div class="panel">
          <strong>자원</strong>
          <a th:href="@{https://labor.moel.go.kr/main/main.do}"
            style="text-decoration:none; color:inherit; background:none; border:none; outline:none;">
            <div class="resource-item"><strong>고용 노동부 노동포털</strong><small>온라인 민원 신청</small></div>
          </a>
          <a th:href="@{https://1350.moel.go.kr/home/}"
            style="text-decoration:none; color:inherit; background:none; border:none; outline:none;">
            <div class="resource-item"><strong>고용 노동부 고객 상담 센터</strong><small>1350(유료)과 함께하는 고용 노동 상담</small>
              <p></p><small>이용시간 : 평일 09:00 ~ 18:00</small>
            </div>
          </a>
        </div>
      </aside>
    </div>
  </main>
  <script th:src="@{js/chat.js}"></script>

</body>

</html>